header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 1px solid;
}
header a{
    color: darkgreen;
    text-decoration: none;
    
}
.logo{
    border: 1px solid;
}
div nav{
    border: 1px solid;

}